@if(totalPaginas>1){
    <nav class="mt-4">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="paginaActual === 1">
            <button class="page-link" (click)="cambiarPagina(paginaActual - 1)">Anterior</button>
          </li>

          @for(pagina of paginas; track paginas){
            <li class="page-item"  [class.active]="pagina === paginaActual">
                <button class="page-link" (click)="cambiarPagina(pagina)">{{ pagina }}</button>
              </li>
          }
          
          <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
            <button class="page-link" (click)="cambiarPagina(paginaActual + 1)">Siguiente</button>
          </li>
        </ul>
      </nav>
}

