<div class="container mt-2">
    <div class="row mb-2">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        @if (clinica) {
                            {{ clinica.nombre }}
                        } @else {
                            Clinicas
                        }
                    </li>
                </ol>
            </nav>
        </div>
    </div>
  
    <h2 class="mb-2">
        @if (clinica) {
             {{ clinica.nombre }}
        } @else {
            Clinicas
        }
    </h2>