<div class="container py-1">
 <app-clinicas-encabezado></app-clinicas-encabezado>

<app-clinicas-filtros [termino]="terminoBusqueda" (onBuscar)="actualizarTermino($event)"></app-clinicas-filtros>
  
    @if (cargando) {
      <app-cargando-spinner></app-cargando-spinner>
    } @else if (error) {
      <div class="alert alert-danger">{{ error }}</div>
    } @else if (clinicasFiltradas.length === 0) {
      <div class="alert alert-info">No se encontraron clínicas que coincidan con su búsqueda.</div>
    } @else {
      <!-- <app-clinica-listado [clinicas]="clinicasPaginadas"></app-clinica-listado>
      <app-clinica-paginacion
        [paginaActual]="paginaActual"
        [totalPaginas]="totalPaginas"
        (onPaginaChange)="cambiarPagina($event)">
      </app-clinica-paginacion> -->
      <app-clinicas-listado [clinicas]="clinicasPaginadas"></app-clinicas-listado>
      <app-clinicas-paginacion></app-clinicas-paginacion>
    }
  </div>
  
  
