<div class="container mt-5">
  <h2 class="mb-4">Solicitar una nueva cita</h2>

  <form [formGroup]="citaForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label for="especialidad" class="form-label">Especialidad</label>
      <select id="especialidad" formControlName="especialidad" class="form-select">
        @for (esp of especialidades; track esp.idEspecialidad) {
          <option [value]="esp.idEspecialidad">{{ esp.nombre }}</option>
        }
      </select>
    </div>

    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha y hora</label>
      <input type="date" id="fecha" formControlName="fecha" class="form-control" [min]="minFecha" (change)="onFechaChange($event)" />
    </div>

    @if(medicosFiltrados){
      <div  class="mb-3">
        <h5>Seleccione un médico disponible:</h5>
        
        @for(medico of medicosFiltrados; track medico){
          <div  class="form-check mb-2">
            <input type="radio" 
                   class="form-check-input" 
                   id="medico{{ medico.idUsuario }}" 
                   [value]="medico.idUsuario" 
                   formControlName="idMedico">
            <label class="form-check-label" for="medico{{ medico.idUsuario }}">
              {{ medico.nombre }} {{ medico.apellidos }} - {{ medico.tarifa }} € 
            </label>
          </div>
        
        }
      </div>
    }

    @if(medicosFiltrados && citaForm.get('especialidad')?.value && citaForm.get('fecha')?.value){
      <div  class="alert alert-warning">
        No hay médicos disponibles para la especialidad y fecha seleccionadas.
      </div>
    }
    

    <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="citaForm.invalid">Solicitar cita</button>

  </form>
</div>
