<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-center gap-2">
       <button (click)="mostrarOcultarDatos()" class="btn btn-info btn-sm text-white flex-fill">Datos Personales</button>
       <button (click)="seleccionarComponente('calendario')" class="btn btn-primary btn-sm flex-fill">Calendario</button>
       <button (click)="seleccionarComponente('citas')" class="btn btn-primary btn-sm flex-fill">Citas</button>
       <button (click)="seleccionarComponente('agenda')" class="btn btn-primary btn-sm flex-fill">Agenda</button>
    </div>
 </nav>