<div class="card shadow-sm">
    <div class="card">
        <div class="card-header bg-info text-white">
            <h5 class="card-title"><span class="text-dark-emphasis">Cita con</span> {{cita.nombrePaciente}}</h5>
        </div>
        <div class="card-body">
            <p class="card-text"><span class="text-dark-emphasis">Fecha:</span>{{cita.fecha}}</p>
            <p class="card-text"><span class="text-dark-emphasis">Estado:</span>{{cita.estado}}</p>
        </div>
        
    </div>
</div>
